<%-include("partials/header");-%>
<body>
  <h2><%=part%> 질문리스트</h2>
  <%questions.forEach((question) =>{%>
  <P>
    <%=question.number%><br />
    <%=question.title%>
    <form method="POST" action="/detail/<%=part%>">
     
      <textarea name="answer"><%=answerList[question.number-1]%></textarea>
      <input type="hidden" value="<%=part%>" name="part" >
      <input type="hidden" value="<%=question.number%>" name="number" >
      <input type="submit">
    </form>
  </P>
  <%})%>
</body>
<%-include("partials/footer");-%>
