<%-include("partials/header");-%>
<body>
  <h2><%=part%> 질문리스트</h2>
  <%questions.forEach((question) =>{%>
  <P>
    <%=question.number%><br />
    <%=question.title%>
    <form method="POST" action="">
      <textarea>질문에 대한 내 생각은?</textarea>
      <input type="hidden" value="<%=question.number%>" name="number" >
      <input type="submit">
    </form>
  </P>
  <%})%>
</body>
<%-include("partials/footer");-%>
